<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% blog.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table border="2" align="center" style="background: linear-gradient(to bottom, #33ccff 0%,
      #ff99cc 100%)" width="20%" height="100px">
    <tr>
      <td>
        <div class="field">
         <%= form.label :title %>
         <%= form.text_field :title %>
        </div>

         <div class="field">
          <%= form.label :image %>
          <%= form.file_field :image %>
        </div>

        <div class="field">
         <%= form.label :category %>
          <%#= form.text_field :category %>
          <%#= form.select(:Category_id, Category.all.collect {|u| [u.categories_name, u.id]}, :prompt => 'Select') %>
      
         <%= form.select(:category, Category.all.collect {|u| [u.name, u.id]}, :prompt => 'Select') %> 
        </div> 

        <div class="field">
         <%= form.label :description %>
         <%= form.text_field :description, :cols => 30, :rows => 30 %>
        </div>

        <div class="actions">
         <%= form.submit %>
        </div>
      </td>
    </tr>
  </table>
<% end %>