<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @blog.image %>
  <%#= image_tag @blog.image_url.to_s %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
