<table border="2px">
  <td>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
   
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
   
    <p>
      <%= link_to 'Destroy Comment', [comment.blog, comment],
                   method: :delete,
                   data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

      <%= link_to "Edit comment", edit_blog_comment_path(comment.blog, comment), class: "btn btn-primary" %>
      <%#= link_to "Reply", new_blog_comment_reply_path(comment.blog, comment), class: "btn btn-primary" %>
    </p>

    <h3>reply a comment</h3>
    <% @replies= Reply.where(:comment_id=> comment) %>
    <% @replies.each do |reply| %>
    <p>
      <strong>Reply</strong>
      <%=reply.body%>
    </p>

    <%end%>

    <div id="reply-container"></div>
  </td>
</table>

<%= render :partial => 'replies/form', locals: {blog: @blog, comment: comment, reply: comment.replies.new} %>
<%= render partial: "likes/like", locals: {comment: comment } %>