<div id= "like_<%= comment.class.name %>_<%= comment.id %>"> 
    <!--Like-->
	(<%=count_like(comment)%>)
	<% if current_user.is_liked(comment) %>
	<%= link_to "liked", like_create_path(id: comment.id, type: comment.class.name), method: :post, remote: true %>
	<%else%>
			<%= link_to "like", like_create_path(id: comment.id, type: comment.class.name), method: :post, remote: true %>
			<%end%>

	<!--dislike-->

  (<%= count_dislike(comment)%>)
	<% if current_user.is_disliked(comment) %>
		<%= link_to "Disliked", dislike_create_path(id: comment.id, type: comment.class.name), method: :post, remote: true %>
				<%else%>
				<%= link_to "Dislike", dislike_create_path(id: comment.id, type: comment.class.name), method: :post, remote: true %>
			<%end%>

</div>